{% extends 'base.html' %}

{% block title %}
<title> О магазине </title>
{% endblock title %}

{% block content %}
<div class="container" >
    <h1>ЦВЕТОЧНЫЙ ИНТЕРНЕТ-МАГАЗИН В МИНСКЕ</h1><br>
Интернет- магазин «MFS MyFlowerShop» начал свою работу в 2018 году, однако сеть наших магазинов по г. Минску работают уже более 5 лет.<br>
В нашем цветочном онлайн-магазине представлен широкий выбор цветов, авторских букетов, композиций из цветов и подарков, которые можно заказать с доставкой в городе Минске по доступным ценам.
В нашей команде работают профессиональные флористы с большим опытом работы, которые всегда смогут проконсультировать Вас по цветочной продукции и уходом за цветами.<br>
На нашем сайте представлен большой выбор срезанных цветов и горшечных растений, в том числе разнообразных экзотических цветов. В наш магазин поступают цветы из таких стран как: Голландия, Кения, Израиль, Эквадор, Колумбия и т.д.
Мы производим закупки напрямую у поставщиков, поэтому у нас недорогие цены и свежие цветы. Также наши флористы изготавливаю свадебные букеты по индивидуальному заказу.<br>
Мы предоставляем следующие услуги:<br>
продажа цветов,букетов,подарков через интернет на различные праздники: день рождение, свадьба (свадебный букет невесты), годовщину свадьбы, День матери, День учителя, 8 марта и другие праздники<br>
продажа коробок с цветами, корзин с цветами, деревянных ящиков с цветами, конвертов с цветами<br>
доставка шариков<br>
оперативная доставка заказа<br>
работа с корпоративными клиентами<br>
выполнение индивидуальных заказов любой сложности<br>
    <h1> Также мы ждем Вас в наших цветочных магазинах по адресам:</h1>
г.Минск, ул.Чкалова, д.0/0
г.Минск, ул.Дзержинского, д.0
<h2>Режим работы всех магазинов: с 9:00 до 21:00</h2>

</div>
{% endblock content %}